[mysqld]
# Performance optimizations for local dev
max_connections=100
default-storage-engine=InnoDB

# Logging
# log_error=/var/log/mysql/error.log
general_log=0
log_queries_not_using_indexes=1

# Character set
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# InnoDB
innodb_buffer_pool_size=512M
innodb_log_file_size=256M
